* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}



.content {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.box {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: #555;
}

.box p {
    color: white;
    font-size: 20px;
}

.box #nome {
    font-weight: bold;
}

.box .info {
    height: 35%;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
}
