body {
    background: url('fundo.jpg') no-repeat;
    background-size: cover;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    color: white; 
}

header {
    background-color: blue;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav ul  {
    list-style:none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration:none;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: red; /*para fazer contorno no texto*/
}
.banner{
    text-align:center;
    background-color: red;
    padding: 80px 0;
}

.shadow-dance-text{
    font-size: 4rem;
    color: #fff;
    text-shadow:5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    animation: shadow-dance 2s infinite;
    /*dar movimento ao texto*/
}

@keyframes shadow-dance { /*animação ao texto*/
    0%, 100%{
       text-shadow:5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    }
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
    }
}
section {
    padding: 20px;
    margin: 0 10px;

}

.cartao {
    border: 1px solid #ddd;/*pra fazer borda*/
    border-radius: 8px;
    padding: 15px;
    color: rgb(2, 2, 255);
    margin-bottom: 20px;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    background-color: rgba(255,255,255,0.8);/*transparencia*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0,3s, ease, box-shadow 0,3s ease;
   
}
.cartao:hover {
    transform: translateY(-10px);/*pra div mexer pra cima*/
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.cartao img {
    width: 100%;
    border-radius: 8px;
}
#titulo {
    color: aqua;
}
#banner i{
    background:rgba(229, 8, 8);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}